*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
.vagrant/
build
nbproject/
.idea
*.tmproj
*.sublime-project
*.sublime-workspace
*.lock
composer.phar
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/config/crypt.php
